blueprint_n8n.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "upload",
        "path": "=/audios/{{ $('WhatsApp Trigger1').item.json.messages[0].audio.id }}.ogg",
        "binaryPropertyName": "=audio"
      },
      "id": "88412c88-3e27-49b0-83bc-4c1bbe9c1e0d",
      "name": "FTP Audio Upload",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -520,
        -240
      ],
      "credentials": {
        "ftp": {
          "id": "5V0c6k334yIMVdow",
          "name": "Hostinger FTP"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "id": "821fb071-14fc-4557-bce2-0e555c648869",
      "name": "Get Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        335
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/imagenes/{{ $('WhatsApp Trigger1').item.json.messages[0].image.id }}.jpg",
        "binaryPropertyName": "image"
      },
      "id": "7333994d-885c-4680-9234-fa847eb666b0",
      "name": "FTP Image Upload",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -300,
        335
      ],
      "credentials": {
        "ftp": {
          "id": "5V0c6k334yIMVdow",
          "name": "Hostinger FTP"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hpkd28enkm.us-east-1.awsapprunner.com/api/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  intentionKey: $json.intention?.intention_key || $json.telefono,\n  producto: $json.producto,\n  cantidad: $json.cantidad,\n  foto_url: $json.photoUrl || '',\n  audio_url: $json.audioUrl || '',\n  telefono: $json.telefono,\n  nombre: $json.nombre || ''\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ab62ecfb-3591-4fae-98bc-7210376a932e",
      "name": "Crear orden en Node",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        -140
      ]
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "delivered"
          ]
        }
      },
      "id": "6e214ccc-2303-4290-acd4-a7708e9680fc",
      "name": "WhatsApp Trigger1",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1620,
        60
      ],
      "webhookId": "3d5f4f2c-4799-4b38-aab7-62b50bdd58c6",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "DOv7R8dhccCnXZhH",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Un solo ítem por ejecución para evitar repeticiones; solo texto, audio o imagen\nconst item = items[0];\nconst data = item.json;\nconst messages = data.messages;\nif (!messages || !messages[0]) return [];\nconst msg = messages[0];\nconst type = msg.type || (msg.text ? 'text' : '');\nconst allowed = ['text', 'audio', 'image'];\nif (!allowed.includes(type)) return [];\nreturn [item];"
      },
      "id": "a314e6ca-16fe-4285-a023-0204b65b743b",
      "name": "Solo mensajes (texto/audio/imagen)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1400,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "d8578776-0cda-4881-99b8-80b93add3841",
      "name": "Es audio?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1180,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.messages[0].type }}",
              "rightValue": "image",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "44187a89-d4a3-48b9-8f77-a120737a8322",
      "name": "Es imagen?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        235
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $('WhatsApp Trigger1').item.json.messages[0].audio.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "89a88359-8f07-4557-9ca5-390462c416e7",
      "name": "Audio Meta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        -140
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "id": "87856e19-6eca-4d8c-ad4d-2c2b745e39e9",
      "name": "Get Audio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        -140
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "es"
            }
          ]
        },
        "options": {}
      },
      "id": "0f87c1ae-98a3-453f-8798-4035c48f0459",
      "name": "Audio → Texto (Whisper)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        -40
      ],
      "credentials": {
        "openAiApi": {
          "id": "Pj6XxVu4vEcr3yvo",
          "name": "OPENAI PRD"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Mismo ID que en FTP Audio Upload: id del audio de WhatsApp.\nconst trigger = $items('WhatsApp Trigger1')[0].json;\nconst merged = items;\nconst hasTwoItems = merged.length >= 2;\nconst whisperData = hasTwoItems ? merged[1].json : merged[0].json;\nconst messageText = whisperData.text || whisperData.text_original || '';\nconst audioId = trigger.messages?.[0]?.audio?.id || null;\nconst BASE_MEDIA = 'https://camguard.com.ar/intercarnes';\nconst audioUrl = audioId ? `${BASE_MEDIA}/audios/${audioId}.ogg` : null;\nreturn [{\n  json: {\n    messageText,\n    telefono: trigger.messages[0].from,\n    producto: null,\n    cantidad: null,\n    nombre: null,\n    hasPhoto: false,\n    hasAudio: true,\n    audioUrl,\n    photoUrl: null\n  }\n}];"
      },
      "id": "cc6d619d-5cc6-463d-a904-5c07a6a9090d",
      "name": "Normalizar (audio)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -80,
        -140
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $('WhatsApp Trigger1').item.json.messages[0].image.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "e74ba02f-82c7-4f85-99da-1f015fd40ac3",
      "name": "Image Meta1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -740,
        335
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Mismo ID que en FTP Image Upload: id de la imagen de WhatsApp\nconst trigger = $items('WhatsApp Trigger1')[0].json;\nconst imageId = trigger.messages?.[0]?.image?.id || null;\nconst BASE_MEDIA = 'https://camguard.com.ar/intercarnes';\nconst photoUrl = imageId ? `${BASE_MEDIA}/imagenes/${imageId}.jpg` : '';\nreturn [{\n  json: {\n    messageText: trigger.messages[0].text?.body || 'Te compartí una foto',\n    telefono: trigger.messages[0].from,\n    producto: null,\n    cantidad: null,\n    nombre: null,\n    hasPhoto: true,\n    hasAudio: false,\n    audioUrl: null,\n    photoUrl: photoUrl || null\n  }\n}];"
      },
      "id": "fb292399-7031-4fc9-b587-a46a299ad318",
      "name": "Normalizar (imagen)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -80,
        335
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const trigger = items[0].json;\n\nreturn [{\n  json: {\n    messageText: trigger.messages[0].text?.body || '',\n    telefono: trigger.messages[0].from,\n    producto: null,\n    cantidad: null,\n    nombre: null,\n    hasPhoto: false,\n    hasAudio: false,\n    audioUrl: null,\n    photoUrl: null\n  }\n}];"
      },
      "id": "5c9546bf-e711-4453-8617-867bb050dc9a",
      "name": "Normalizar (texto)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -80,
        135
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const item = items[0].json;\nconst rawPhone = String(item.telefono || '');\nconst telefono = rawPhone.replace(/\\D/g, '');\nreturn [{ json: { ...item, telefono } }];"
      },
      "id": "5715c653-beb7-4eb4-86a0-33e3a3c1ab43",
      "name": "Normalizar teléfono",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        140,
        135
      ]
    },
    {
      "parameters": {
        "url": "=https://hpkd28enkm.us-east-1.awsapprunner.com/api/intentions/open-by-phone/{{ $json.telefono }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a9071bf5-b7bb-4a4f-a494-6c2084063243",
      "name": "GET intención abierta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        135
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const prev = $('Normalizar teléfono').first().json;\nconst res = items[0].json;\nconst hasOpenIntention = !!(res && res.ok && res.intention);\nconst intention = (res && res.intention) || null;\nreturn [{ json: { ...prev, hasOpenIntention, intention } }];"
      },
      "id": "8a3ca1e4-509e-4d1e-bf6d-dc53b1e1271c",
      "name": "Cargar intención abierta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        580,
        135
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hpkd28enkm.us-east-1.awsapprunner.com/api/intentions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { intentionId: $json.telefono + '-' + Date.now(), telefono: $json.telefono } }}",
        "options": {}
      },
      "id": "c72d50f9-78b5-4ea1-83a0-6ec303ff285e",
      "name": "Crear intención (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        235
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asg-agent-reply",
              "name": "agentReply",
              "value": "¡Hola! Bienvenido a la demo de Intercarnes. Contame qué producto te interesa y en qué cantidad. Recordá que es solo una demo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9aeb071a-1c43-46b0-a911-974cb653024d",
      "name": "Agregar saludo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        235
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "727976767061895",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "textBody": "={{ $json.agentReply }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "id": "7021a9b1-0d4c-408a-a9a8-1f13d8a31880",
      "name": "WA Saludo inicial",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1460,
        235
      ],
      "webhookId": "13931bef-419e-4381-b5b9-4126678eec61",
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const item = items[0].json;\nconst intention = item.intention || {};\nreturn [{ json: {\n  ...item,\n  productoActual: intention.producto || '',\n  cantidadActual: intention.cantidad != null ? String(intention.cantidad) : '',\n  nombreActual: intention.nombre || '',\n  photoUrl: item.photoUrl || intention.foto_url || null,\n  audioUrl: item.audioUrl || intention.audio_url || null\n} }];"
      },
      "id": "c6d3c535-bc2a-4b30-88ca-9b8a5f060f99",
      "name": "Preparar contexto agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1020,
        35
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hpkd28enkm.us-east-1.awsapprunner.com/api/intentions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  intentionId: $json.intention?.intention_key || $json.telefono,\n  telefono: $json.telefono,\n  producto: $json.producto || $json.intention?.producto || '',\n  cantidad: $json.cantidad ?? $json.intention?.cantidad,\n  nombre: $json.nombre || $json.intention?.nombre || '',\n  foto_url: $json.photoUrl || $json.intention?.foto_url || '',\n  audio_url: $json.audioUrl || $json.intention?.audio_url || ''\n} }}",
        "options": {}
      },
      "id": "1315785e-918d-4e37-8637-2325d95b04fb",
      "name": "Actualizar intención",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres un agente conversacional de Intercarnes por WhatsApp para una DEMO. Siempre respondes en español rioplatense. El objetivo es ayudar a crear una intención/orden de compra de un producto. Debes trabajar con estos campos: producto (string, nombre del producto), cantidad (number, unidades aproximadas), nombre (string, nombre de la persona), hasPhoto (boolean, true si el usuario ya envió al menos una foto útil del producto), hasAudio (boolean, true si el usuario ya envió un audio de confirmación), readyToCreateOrder (boolean). Tu comportamiento es: (1) dar la bienvenida y aclarar que es una demo, (2) ir preguntando y confirmando producto, cantidad y nombre; si hay foto/audio marcá hasPhoto/hasAudio en true, (3) mientras falte algo importante, poné readyToCreateOrder=false y en agentReply pedí amablemente lo que falta, (4) cuando ya tengas producto y cantidad como mínimo, y opcionalmente nombre, poné readyToCreateOrder=true y en agentReply escribí un mensaje de confirmación listo para enviar por WhatsApp (con producto, cantidad y nombre si lo tenés) sin mencionar links ni URLs, porque el sistema agrega el link aparte, (5) siempre recordá en agentReply que esto es solo una demo. Tu respuesta SIEMPRE debe ser un JSON con estas claves: agentReply (string), producto (string o null), cantidad (number o null), nombre (string o null), hasPhoto (boolean), hasAudio (boolean), readyToCreateOrder (boolean).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Mensaje del usuario: \" + $json[\"messageText\"] + \"\\n\\nContexto actual de esta intención (no borres datos ya guardados): hasPhoto=\" + $json[\"hasPhoto\"] + \", hasAudio=\" + $json[\"hasAudio\"] + \", telefono=\" + $json[\"telefono\"] + \", nombreActual=\" + ($json[\"nombreActual\"] || \"\") + \", productoActual=\" + ($json[\"productoActual\"] || \"\") + \", cantidadActual=\" + ($json[\"cantidadActual\"] || \"\") + \". Responde solo el JSON pedido, sin texto adicional.\"\n    }\n  ]\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3c47d242-e308-4d5b-9ba3-07d978f37e22",
      "name": "Agente OpenAI1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        35
      ],
      "credentials": {
        "openAiApi": {
          "id": "Pj6XxVu4vEcr3yvo",
          "name": "OPENAI PRD"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const raw = items[0].json;\nconst completion = Array.isArray(raw) ? raw[0] : raw;\nconst content = completion?.choices?.[0]?.message?.content;\nif (!content) {\n  return [{ json: { agentReply: 'No se encontró contenido.', producto: null, cantidad: null, nombre: null, hasPhoto: false, hasAudio: false, readyToCreateOrder: false } }];\n}\nlet parsed;\ntry { parsed = JSON.parse(content); } catch (e) {\n  parsed = { agentReply: String(content), producto: null, cantidad: null, nombre: null, hasPhoto: false, hasAudio: false, readyToCreateOrder: false };\n}\nconst ctx = $items('Preparar contexto agente')[0]?.json || {};\nparsed.intention = ctx.intention || null;\nparsed.telefono = ctx.telefono || null;\nparsed.photoUrl = ctx.photoUrl || null;\nparsed.audioUrl = ctx.audioUrl || null;\nreturn [{ json: parsed }];"
      },
      "id": "ba28f816-979f-4ad7-8a32-053bce3e69f0",
      "name": "Parse Agent JSON1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1460,
        35
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "727976767061895",
        "recipientPhoneNumber": "={{ $json.intention.telefono }}",
        "textBody": "={{ $('Agente OpenAI1').item.json.choices[0].message.content.parseJson().agentReply }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "id": "2bb01237-e5d9-41ec-a027-2516eda013ec",
      "name": "WA Respuesta (pide más)1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2120,
        60
      ],
      "webhookId": "2fac9622-7dee-4449-b7ee-bd322bca3706",
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "727976767061895",
        "recipientPhoneNumber": "={{ $json.order.telefono }}",
        "textBody": "={{ $items('Parse Agent JSON1')[0].json.agentReply + '\\n\\nLink público de esta demo: https://hpkd28enkm.us-east-1.awsapprunner.com/orders/' + $json.order.id }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "id": "daed2e6a-e4c2-4a0b-a597-bdea465d8cd6",
      "name": "WA Confirmación + Link1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2120,
        -140
      ],
      "webhookId": "8bb9bd2a-1856-4cf8-ac16-74ce6480f763",
      "credentials": {
        "whatsAppApi": {
          "id": "OiH3aZrALsnmETZ0",
          "name": "FIGNEA PRD"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f7ca28b-ef48-4495-8fd7-ae01b8f112ca",
              "leftValue": "={{ $json.hasOpenIntention }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        135
      ],
      "id": "96280a8f-20c3-4093-a1c1-03624b53e110",
      "name": "¿Hay intención abierta?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7b36b3c-09a4-439c-b3c8-e9a32133b87b",
              "leftValue": "={{ $json.readyToCreateOrder }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        35
      ],
      "id": "62e2160d-a794-4e77-bb0d-31e34e130010",
      "name": "Tiene todo?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -300,
        -140
      ],
      "id": "73b6b292-a86b-48d4-8a06-f406a4dfd085",
      "name": "Merge"
    }
  ],
  "connections": {
    "FTP Audio Upload": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "FTP Image Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Image Upload": {
      "main": [
        [
          {
            "node": "Normalizar (imagen)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear orden en Node": {
      "main": [
        [
          {
            "node": "WA Confirmación + Link1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "Solo mensajes (texto/audio/imagen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solo mensajes (texto/audio/imagen)": {
      "main": [
        [
          {
            "node": "Es audio?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es audio?1": {
      "main": [
        [
          {
            "node": "Audio Meta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es imagen?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es imagen?1": {
      "main": [
        [
          {
            "node": "Image Meta1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalizar (texto)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Meta1": {
      "main": [
        [
          {
            "node": "Get Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio1": {
      "main": [
        [
          {
            "node": "Audio → Texto (Whisper)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "FTP Audio Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio → Texto (Whisper)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Normalizar (audio)1": {
      "main": [
        [
          {
            "node": "Normalizar teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Meta1": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar (imagen)1": {
      "main": [
        [
          {
            "node": "Normalizar teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar (texto)1": {
      "main": [
        [
          {
            "node": "Normalizar teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar teléfono": {
      "main": [
        [
          {
            "node": "GET intención abierta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET intención abierta": {
      "main": [
        [
          {
            "node": "Cargar intención abierta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar intención abierta": {
      "main": [
        [
          {
            "node": "¿Hay intención abierta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear intención (API)": {
      "main": [
        [
          {
            "node": "Agregar saludo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar saludo": {
      "main": [
        [
          {
            "node": "WA Saludo inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar contexto agente": {
      "main": [
        [
          {
            "node": "Agente OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar intención": {
      "main": [
        [
          {
            "node": "WA Respuesta (pide más)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente OpenAI1": {
      "main": [
        [
          {
            "node": "Parse Agent JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent JSON1": {
      "main": [
        [
          {
            "node": "Tiene todo?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay intención abierta?": {
      "main": [
        [
          {
            "node": "Preparar contexto agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear intención (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene todo?1": {
      "main": [
        [
          {
            "node": "Crear orden en Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Normalizar (audio)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "WhatsApp Trigger1": [
      {
        "messaging_product": "whatsapp",
        "metadata": {
          "display_phone_number": "5491128359993",
          "phone_number_id": "727976767061895"
        },
        "contacts": [
          {
            "profile": {
              "name": "Lucas"
            },
            "wa_id": "5491124557946"
          }
        ],
        "messages": [
          {
            "from": "5491124557946",
            "id": "wamid.HBgNNTQ5MTEyNDU1Nzk0NhUCABIYFDNBOTk0ODk5RDc0RTI5MDc2RjI3AA==",
            "timestamp": "1772683416",
            "type": "audio",
            "audio": {
              "mime_type": "audio/ogg; codecs=opus",
              "sha256": "hIY29CELAb8/SEQBQFxzg/JOpbko/NZR9cvkYpGWTbA=",
              "id": "1446374427036903",
              "url": "https://lookaside.fbsbx.com/whatsapp_business/attachments/?mid=1446374427036903&source=webhook&ext=1772683718&hash=ARlUwk21Gexdh08siW7-6RenWQ7wTBzJjjysl5Vc-iiVeg",
              "voice": true
            }
          }
        ],
        "field": "messages"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "769c3137762d288309bd65ef8a7bdafb26490c46d73a418ad2dd6301be5441fd"
  }
}